main {
    width: 100vw;
    padding-top: 130px;
    color: #778beb;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toDoList {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.toDoContent {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.toDoContent:hover {
    cursor: pointer;
}

.checkList {
    display: flex;
    gap: 20px;
}

.checkIcon {
    padding-left: 30px;
}

.checkIcon > i{
    font-size: 20px;
}

.toDo {
    font-weight: 700;
    font-size: 20px;
}

.checked > .checkIcon{
    color: #b7bfe6;

}

.checked > .toDo{
    font-weight: 100;
    text-decoration: line-through;
}

.time {
    padding-right: 30px;
}

.hidden {
    display: none;
}